@import './vars.css';

.Aggs {
  display: flex;
  flex-direction: column;
  margin: 2em;
  h3 {
    text-align: center;
    font-family: Damion;
    font-weight: 700;
    font-size: 2em;
    margin-left: .4em;
    margin-bottom: 2em;
    color: var(--rust);
  }
  .individualBadges {
    display: flex; 
    font-family: Montserrat;
    margin-left: 2em;
    margin: 0;
    p {
      font-family: Montserrat;
      font-size: 1em;
      font-weight: 700;
      color: var(--dark-blue);
      margin-left: 2em;
    }
  }
  h1{
    color: var(--rust);
    font-weight: 1000;
    font-size: .7em;

  }
  h2{
    color: var(--rust);
    font-weight: 1000;
    font-size: .8em;
  }
  img {
    position: relative;
    z-index: -1;
    top: -3.9em;
  }
  
  .badge {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5em;
  }
}


