.Home {
  a {
    text-align: center;
    text-decoration: none;
  }

  .logo {
    height: 25vh;
    width: 60%;
    max-width: 420px;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    img {
      width: 65%;
      height: auto;
    }
  }


  .headerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h2 {
      font-family: Montserrat;
      font-weight: 200;
      line-height: 1.5em;
    }
    h3 {
      font-family: Damion;
      font-weight: 700;
      font-size: 22px;
      color: var(--peach);
    }
  }
  
  .breatheButton, .setupButton {
    display: block;
    border: solid var(--light-blue) 4px;
    border-radius: 15px;
    background-color: white;
    width: 15em;
    height: 3em;
    margin: auto;
    margin-top: 1em;
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 14px;
  
    &:hover {
      border: none;
      background-color: var(--light-blue);
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .breatheContainer {
    text-align: center;
    margin: 0;
    img {
      margin: 0;
      max-width: 12vw;
    }
  }
}

