.Form {
  h2 {
    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--dark-blue);
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
    margin-top: 3em;
  }
  form {
    max-width: 700vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
  }
  textarea {
    height: 30px;
  }
  label {
    font-family: Montserrat;
    font-weight: 400;
    color: var(--rust);
  }
  input {
    font-family: Montserrat;
    input::placeholder {
      color: var(--light-grey);
      font-weight: 200;
    }
  }
  button {
    display: block;
    border: solid var(--light-blue) 4px;
    border-radius: 1em;
    background-color: white;
    width: 15em;
    height: 3em;
    margin: auto;
    margin-top: 2em;
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 0.75em;
  
    &:hover {
      border: none;
      background-color: var(--light-blue);
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }
}