.SettingsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 2em;
  overflow: auto;
  padding-bottom: 15%;
  margin-bottom: 1em;
  h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--dark-blue);
  }
  h4 {
    font-family: Damion;
    font-size: 1.25em;
    width: 70vw;
    color: var(--light-grey);
    text-align: center;
  }

  button[name='addButton'] {
    width: 90%;
    border: solid var(--light-blue) 4px;
    border-radius: 10px;
    background-color: white;
    color: var(--dark-blue);
    margin-bottom: 1.5em;
  }
  button[name='addButton']:hover {
    background-color: var(--light-blue);
  }  
}

.items {
  list-style: none;
  padding-left: 0;
  position: relative;
  border: solid 2px var(--light-green);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  line-height: normal;
  
  h3 {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0.25em;
  }

  p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-blue);
    line-height: normal;
  }

  div[name='breathingSettingsContainer'] {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  div[name='breathingSettingsFlex'] {
    display: flex;
    justify-content: space-around;
    text-align: center;
  
    ul {
      display: inline-block;
      margin-right: 0.4em;
      margin-left: 0.4em;
    }
  }

  li {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-blue);
    line-height: normal;
  }

  button[name='breatheButton'] {
    width: 90%;
    position: absolute;
    bottom: 3%;
    height: 2em;
    border: solid var(--light-blue) 4px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 12px;
  }

  button[name='editButton'] {
    border: transparent var(--light-blue) 1px;
    width: 2em;
    height: 2em;
    margin: .5em;
    margin-right: .7em;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;

    &:hover, &:active {
      border: solid var(--light-blue) 1px;
    }

    img {
      width: 1.5em;
    }
  }

  
  &.selected {
    border: none;
    box-shadow: 
      0 0 1px  3px rgba(var(--light-grey-rgb), 0.3),
      0 0 2px  6px rgba(var(--light-grey-rgb), 0.2),
      0 0 3px  8px rgba(var(--light-grey-rgb), 0.1),
      0 0 4px 10px rgba(var(--light-grey-rgb), 0.1);
  }
}
