.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  overflow: auto; 
  height: 100%; 
  margin: 2em;
  margin-bottom: 1em;

  h2 {
    display: inline;
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin-left: 1em;
  }

  img {
    width: 35%;
    max-width: 100px;
    height: auto;
    margin-bottom: 1em;
    border-radius: 50%;
    border: 3px solid var(--light-green);
  }
}
