.WrapUpBody {
  font-family: Montserrat;
  font-weight: 200;
  font-size: 1.2em;
  margin: 1em;
}

.WrapUpFooter {
  margin: 0.3em;
  display: flex;
  justify-content: center;

  button {
    border-radius: 6px;
    color: white;
    border: none;
    margin: 0.2em;
    width: 8em;
    background-color: var(--light-grey);
    font-family: Montserrat;
    font-weight: 200;
    font-size: 1.1em;
  }

  button:hover {
    background-color: var(--light-blue);
    border: none;
    color: white;
    cursor: pointer;
  }
}